In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
def cleanColumn(column, data):
    if type(data[column][0]) == type('.'):
        data[column][data[column] == 'PrivacySuppressed'] = np.nan
    return data[column]

def cleanData(data):
    for column in data.columns:
        data[column] = cleanColumn(column, data)
    return data

In [108]:
path = '/Users/leo/Desktop/DSGA_1007/Project/'

In [109]:
data = pd.read_csv(path+'ROI.csv')

In [110]:
data.shape

(7175, 39)

In [111]:
data.isna().sum()

Unnamed: 0             0
COMPL_RPY_1YR_RT    1092
COMPL_RPY_3YR_RT     893
COMPL_RPY_5YR_RT    1012
COMPL_RPY_7YR_RT    1295
C100_4              5028
C100_L4             3590
DEBT_MDN_SUPP         19
GRAD_DEBT_MDN         19
DEBT_N                19
GRAD_DEBT_N           19
LATITUDE             438
LONGITUDE            438
REGION                 0
LOCALE               438
ACCREDAGENCY         493
SCH_DEG              308
MAIN                   0
NUMBRANCH              0
HIGHDEG                0
CONTROL                0
ST_FIPS                0
AVGFACSAL           2908
PFTFAC              3421
ICLEVEL                0
UG                  2705
UG_NRA              2705
UG_UNKN             2705
UG_WHITENH          2705
UG_BLACKNH          2705
UG_API              2705
UG_AIANOLD          2705
UG_HISPOLD          2705
MEDIAN_HH_INC       2033
UNEMP_RATE          2033
UGDS_MEN             728
UGDS_WOMEN           728
cost                1203
earning             1084
dtype: int64

In [204]:
data = cleanData(data)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [113]:
## AvgFaclSal use mean of the column

In [114]:
data['AVGFACSAL'].mean()

6482.619404734005

In [136]:
data['AVGFACSAL'].fillna((data['AVGFACSAL'].mean()), inplace=True)
data['UG'].fillna((data['UG'].mean()), inplace=True)
data['PFTFAC'].fillna((data['PFTFAC'].mean()), inplace=True)

In [116]:
##HISP: Hispanic students rose from 4 percent to 17 percent 
# API: Asian/Pacific Islander students rose from 2 percent to 7 percent
# Black: The percentage of Black students increased from 10 percent in 1976 to 14 percent in 2015
# White: 58%

In [117]:
data['UG_NRA'].fillna(0.01, inplace=True)

In [118]:
data['UG_WHITENH'].fillna(0.58, inplace=True)

In [119]:
data['UG_BLACKNH'].fillna(0.14, inplace=True)

In [120]:
data['UG_API'].fillna(0.035, inplace=True)

In [121]:
data['UG_AIANOLD'].fillna(0.035, inplace=True)

In [122]:
data['UG_HISPOLD'].fillna(0.17, inplace=True)

In [123]:
data['UG_UNKN'].fillna((1 - data['UG_NRA'] - data['UG_WHITENH'] - data['UG_BLACKNH'] - data['UG_API'] - data['UG_AIANOLD'] - data['UG_HISPOLD']),inplace=True)

In [180]:
income = {1: 44765, 2:73355, 4: 51492, 5: 41995, 6:64500, 8:63909, 9:71346,
          10:61255, 11:75628,12: 49426, 13: 51244, 15: 73486, 16: 48275, 
          17:59588, 18: 50532, 19:54736, 20: 53906, 21: 45215, 22:45727,
         23:51494, 24:75847, 25:70628 , 26:51084, 27:63488,
         28: 40593, 29:50238, 30:49509, 31:54996, 32:52431,
         33: 70303, 34:72222, 35: 45382, 36:60850, 37:47830,
         38: 60577, 39:51075, 40:48568, 41:54148, 42:55702,
         44: 58073, 45:47238, 46: 53017, 47: 47275, 48:55653,
         49: 62912, 50: 56990, 51: 66262, 53:64129, 54:42019,
         55: 55638, 56: 60214}

In [188]:
data['ST_FIPS'] = data['ST_FIPS'].astype(float)

In [164]:
data['MEDIAN_HH_INC'].fillna(data.ST_FIPS.map(income), inplace=True)

In [175]:
data['MEDIAN_HH_INC'].fillna(data['MEDIAN_HH_INC'].mean(), inplace=True)

In [182]:
unemp = {1: 3.8, 2:7.3, 4: 4.9, 5: 3.8, 6:4.3, 8:3.0, 9:4.5, 
         10:4.3, 11:5.6,12: 3.9, 13: 4.4, 15: 2.1, 16: 2.9, 17:4.6, 
         18: 3.2, 19:2.8, 20: 3.4, 21: 4.0, 22:4.4,
         23:2.7, 24:4.3, 25:3.5 , 26:4.7, 27:3.2,
         28: 4.5, 29:3.6, 30:4.1, 31:2.8, 32:4.9,
         33: 2.6, 34:4.6, 35: 5.6, 36:4.6, 37:4.5,
         38: 2.6, 39:4.4, 40:4.0, 41:4.1, 42:4.8,
         44: 4.5, 45:4.4, 46: 3.4, 47: 3.4, 48:4.0,
         49: 3.1, 50: 2.8, 51: 3.4, 53:4.8, 54:5.4,
         55: 2.9, 56: 3.9, 60:18, 66:4.4, 69:11.2, 72:8.8, 78:9.2}

In [189]:
data['UNEMP_RATE'].fillna(data.ST_FIPS.map(unemp), inplace=True)

In [199]:
data['UNEMP_RATE'] = data['UNEMP_RATE'].astype(float)

In [200]:
data['UNEMP_RATE'].fillna(data['UNEMP_RATE'].mean(), inplace=True)

In [202]:
data['UGDS_MEN'].fillna((data['UGDS_MEN'].mean()), inplace=True)
data['UGDS_WOMEN'].fillna((data['UGDS_WOMEN'].mean()), inplace=True)

In [205]:
data.isna().sum()

Unnamed: 0             0
COMPL_RPY_1YR_RT    2319
COMPL_RPY_3YR_RT    2063
COMPL_RPY_5YR_RT    2246
COMPL_RPY_7YR_RT    2642
C100_4              5028
C100_L4             3590
DEBT_MDN_SUPP       1122
GRAD_DEBT_MDN       1418
DEBT_N               901
GRAD_DEBT_N         1316
LATITUDE             438
LONGITUDE            438
REGION                 0
LOCALE               438
ACCREDAGENCY         493
SCH_DEG              308
MAIN                   0
NUMBRANCH              0
HIGHDEG                0
CONTROL                0
ST_FIPS                0
AVGFACSAL              0
PFTFAC                 0
ICLEVEL                0
UG                     0
UG_NRA                 0
UG_UNKN                0
UG_WHITENH             0
UG_BLACKNH             0
UG_API                 0
UG_AIANOLD             0
UG_HISPOLD             0
MEDIAN_HH_INC          0
UNEMP_RATE             0
UGDS_MEN               0
UGDS_WOMEN             0
cost                1203
earning             3899
dtype: int64